In [40]:
import pandas as pd
from tqdm import tqdm

In [32]:
commute_matrix_path = '/home/ece/Desktop/Negative_Sampling/LightGCN-PyTorch/data/lastfm/distance_tau1.csv'
df = pd.read_csv(commute_matrix_path)

In [33]:
df.head(5)

,Unnamed: 0,u_0,u_1,u_2,u_3,u_4,u_5,u_6,u_7,u_8,...,i_3436,i_3437,i_4414,i_4457,i_1958,i_4427,i_3812,i_4486,i_1555,i_4431
0,u_0,0.000000,0.612187,0.544387,0.551686,0.555259,0.551497,0.551616,0.562788,0.553533,...,0.666066,0.666066,0.666066,0.666066,0.603632,0.657718,0.658274,0.602776,0.661253,0.661253
1,u_1,0.612187,0.000000,0.609245,0.614599,0.618708,0.614498,0.615956,0.624631,0.616298,...,0.719062,0.719062,0.719062,0.719062,0.661659,0.711664,0.711858,0.660880,0.714890,0.714890
2,u_2,0.544387,0.609245,0.000000,0.548361,0.552877,0.548173,0.549768,0.559524,0.550229,...,0.663331,0.663331,0.663331,0.663331,0.600621,0.655292,0.655487,0.599625,0.658796,0.658796
3,u_3,0.551686,0.614599,0.548361,0.000000,0.558833,0.554201,0.555796,0.565425,0.552069,...,0.667501,0.667501,0.667501,0.667501,0.605064,0.660286,0.660520,0.605236,0.663795,0.663795
4,u_4,0.555259,0.618708,0.552877,0.558833,0.000000,0.558505,0.560137,0.569765,0.560676,...,0.671995,0.671995,0.671995,0.671995,0.610177,0.664063,0.664275,0.609298,0.666758,0.666758

In [44]:
df = df.set_index('Unnamed: 0')

In [45]:
distance_dict = {}
for row_index, row in tqdm(df.iterrows(), total=len(df)):
    distance_dict[row_index] = {key: value for key, value in row.items() if not key.startswith('u_')}

100%|██████████| 6354/6354 [00:16<00:00, 388.01it/s]

In [69]:
distance_dict['u_15']['i_45']

0.552755998112238

In [51]:
max_key = max(distance_dict['u_155'], key=distance_dict['u_155'].get)

In [52]:
max_key

'i_4353'

In [57]:
df.T['u_0']

u_0       0.000000
u_1       0.612187
u_2       0.544387
u_3       0.551686
u_4       0.555259
            ...
i_4427    0.657718
i_3812    0.658274
i_4486    0.602776
i_1555    0.661253
i_4431    0.661253
Name: u_0, Length: 6354, dtype: float64

In [26]:
#df = df.set_index('Unnamed: 0')

In [36]:
row_index

0

In [39]:
df.iloc[row_index]

Unnamed: 0         u_0
u_0                0.0
u_1           0.612187
u_2           0.544387
u_3           0.551686
                ...
i_4427        0.657718
i_3812        0.658274
i_4486        0.602776
i_1555        0.661253
i_4431        0.661253
Name: 0, Length: 6355, dtype: object

In [28]:
df.T['i_4353']

u_0       0.696039
u_1       0.746924
u_2       0.693434
u_3       0.698167
u_4       0.701727
            ...
i_4427    0.784916
i_3812    0.785089
i_4486    0.739183
i_1555    0.787840
i_4431    0.787840
Name: i_4353, Length: 6354, dtype: float64

In [30]:
df.T['u_0'].describe()

count    6354.000000
mean        0.567173
std         0.023516
min         0.000000
25%         0.551399
50%         0.560801
75%         0.581933
max         0.705111
Name: u_0, dtype: float64